# IDE files
.idea/
.vscode/

# Compiled output
/dist/
/node_modules/
/tmp/
/angular.json
/package-lock.json

# Environment variables
/src/environments/environment.ts
/src/environments/environment.prod.ts

# Miscellaneous
/.DS_Store
/Thumbs.db

/.angular/